@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@600;700;800&family=JetBrains+Mono:wght@400;500;700&family=Roboto+Flex:wght@400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto Flex", ui-sans-serif, system-ui, sans-serif;
  --font-headline: "Barlow Condensed", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;

  /* Custom Theme Colors matched to Hotbox gaming */
  --color-electric-ruby: #FF003C;
  --color-deep-void: #000000;
  --color-hyper-blue: #18066D;
  --color-pure-white: #FFFFFF;
  --color-surface-dim: #131313;
  --color-surface-container-low: #1c1b1b;
  --color-surface-container: #201f1f;
  --color-surface-container-high: #2a2a2a;
  --color-surface-container-highest: #353534;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #e9bcba;
}

/* Custom visual utilities */
.neon-glow-ruby {
  box-shadow: 0 0 15px rgba(255, 0, 60, 0.4);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
